@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  transition: 0s;
}

body {
  background: #F2F2F2;
  padding-bottom: 60px;
  font-family: "Poppins", sans-serif;
}

nav {
  border-bottom: solid 5px #D0D0D0;
}
nav .navbar-nav {
  margin-left: 30px;
  flex-wrap: wrap;
}
nav .navbar-nav .nav-item {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  width: auto;
  border: 2px solid #1A1818;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  margin: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-transform: lowercase;
  color: #1A1818;
}
nav .navbar-nav .nav-item:hover {
  background-color: #1A1818;
  color: #F2F2F2;
}

.navbar-expand-lg {
  padding: 20px 60px 20px 60px;
}

.accessibility-features {
  width: 100%;
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.accessibility-features .btn {
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 3px;
  background-color: #387178;
  color: #F2F2F2;
  transition: 0.1s ease-in-out;
}
.accessibility-features .btn img {
  width: 30px;
  margin-top: -2px;
  filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
}
.accessibility-features .btn:focus,
.accessibility-features .btn:hover {
  background-color: #2D3C3B;
  color: #F2F2F2;
}

footer {
  width: 100%;
  padding: 0 60px 0 60px;
}
footer > div {
  background: linear-gradient(104.31deg, #387178 57.43%, #2D3C3B 95.2%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 3%;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
footer > div .container {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer > div .container img {
  filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
  height: 100px;
  margin: 20px;
}
footer > div .container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer > div .container ul a {
  text-decoration: none;
  font-size: 1rem;
  color: #F2F2F2;
  padding: 10px;
  display: inline-block;
}
footer > div .container ul a:hover {
  color: #F2F2F2;
  text-decoration: underline;
}
footer > div p {
  font-size: 1rem;
  color: #F2F2F2;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.header {
  width: 100%;
  padding: 0 60px 0 60px;
}
.header .bartdeaux-header {
  background: linear-gradient(104.31deg, #387178 57.43%, #2D3C3B 95.2%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 10%;
  margin: auto;
  margin-top: 50px;
}
.header .bartdeaux-header h1 {
  position: relative;
  font-family: "Subjectivity";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 110px;
  letter-spacing: -0.065em;
  color: #F2F2F2;
}
.header .bartdeaux-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 36px;
  color: #F2F2F2;
}

.backdrop-cookie {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(60, 60, 60, 0.56);
  top: 0;
  z-index: 998;
  display: none;
  justify-content: center;
  align-items: center;
}

.cookie-popup {
  width: 50%;
  height: auto;
  display: none;
  position: absolute;
  z-index: 999;
  background: #F2F2F2;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
}
.cookie-popup span {
  color: #B54E3D;
  font-weight: bold;
}
.cookie-popup a {
  color: #387178;
}
.cookie-popup > div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cookie-popup > div button {
  margin: 5px;
}

.news-login {
  width: 100%;
  padding: 0 60px 0 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.news-login .container {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
.news-login .container .row {
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.news-login h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  color: #1A1818;
  text-transform: uppercase;
}
.news-login .card {
  flex-direction: row;
  margin-top: 20px;
  max-width: 895px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  border: none;
  background: #F2F2F2;
  border-radius: 30px;
}
.news-login .card > img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 0 0 30px;
  aspect-ratio: 1;
}
.news-login .card .card-body {
  margin-bottom: 40px;
}
.news-login .card .card-body h6 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #6C6666;
}
.news-login .card .card-body .btn {
  background: #387178;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #F2F2F2;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  margin-top: 16.25rem;
  transition: 0.1s ease-in-out;
}
.news-login .card .card-body .btn img {
  filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
  height: 25px;
}
.news-login .card .card-body .btn:hover {
  background: #2D3C3B;
}
.news-login .fast-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.news-login .fast-login > div {
  padding: 10px;
  box-sizing: border-box;
}
.news-login .fast-login > div a {
  text-decoration: none;
}
.news-login .fast-login > div button {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid #1A1818;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-transform: lowercase;
  color: #1A1818;
  transition: 0.1s ease-in-out;
  margin: auto;
}
.news-login .fast-login > div button:hover {
  background-color: #1A1818;
  color: #F2F2F2;
}
.news-login .fast-login > div h3 {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.news-login .fast-login > div h3:last-of-type {
  color: #B54E3D;
}
.news-login .fast-login > div form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.news-login .fast-login > div form label {
  color: #6C6666;
}
.news-login .fast-login > div form input {
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.all_articles {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.all_articles h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: #1A1818;
}
.all_articles > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 60px;
}
.all_articles > div h2 {
  color: #B54E3D;
  font-weight: 600;
}
.all_articles > div form .btn {
  background-color: #EADED5;
  margin: 5px;
  transition: 0.1s ease-in-out;
}
.all_articles > div form .btn a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #1A1818;
}
.all_articles > div form .btn:target,
.all_articles > div form .btn:focus,
.all_articles > div form .btn:hover {
  background-color: #B54E3D;
}
.all_articles > div form .btn:target a,
.all_articles > div form .btn:focus a,
.all_articles > div form .btn:hover a {
  color: #F2F2F2;
}
.all_articles .container {
  margin-top: 10px;
  padding: 0;
}
.all_articles .container .row {
  flex-direction: row;
}
.all_articles .container .row .col-xl-3 .card,
.all_articles .container .row .col-md-6 .card,
.all_articles .container .row .col-sm-12 .card {
  border: none;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  min-height: 600px;
}
.all_articles .container .row .col-xl-3 .card h6,
.all_articles .container .row .col-md-6 .card h6,
.all_articles .container .row .col-sm-12 .card h6 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #6C6666;
}
.all_articles .container .row .col-xl-3 .card img,
.all_articles .container .row .col-md-6 .card img,
.all_articles .container .row .col-sm-12 .card img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.all_articles .container .row .col-xl-3 .card p,
.all_articles .container .row .col-md-6 .card p,
.all_articles .container .row .col-sm-12 .card p {
  margin-bottom: 5.25rem;
}
.all_articles .container .row .col-xl-3 .card .btn,
.all_articles .container .row .col-md-6 .card .btn,
.all_articles .container .row .col-sm-12 .card .btn {
  background: #387178;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #F2F2F2;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  margin-bottom: 25px;
  transition: 0.1s ease-in-out;
}
.all_articles .container .row .col-xl-3 .card .btn img,
.all_articles .container .row .col-md-6 .card .btn img,
.all_articles .container .row .col-sm-12 .card .btn img {
  filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
  height: 25px;
  aspect-ratio: 1/1;
}
.all_articles .container .row .col-xl-3 .card .btn:hover,
.all_articles .container .row .col-md-6 .card .btn:hover,
.all_articles .container .row .col-sm-12 .card .btn:hover {
  background: #2D3C3B;
}

.show-article .content-article {
  margin-top: 20px;
  border-left: 2px solid #1A1818;
}
.show-article .content-article > span {
  color: #B54E3D;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}
.show-article .content-article h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
}
.show-article .content-article h6 {
  color: #6C6666;
}
.show-article .content-article .libChapoArt {
  font-weight: 500;
}
.show-article .content-article img {
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40vh;
  margin-bottom: 20px;
}
.show-article .content-article h2 {
  font-size: 1.3rem;
}

@media (max-width: 992px) {
  .news-login {
    width: 100%;
    padding: 0 10px 0 10px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .news-login .container .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .news-login h2 {
    font-size: 2.1rem;
  }
  .news-login .card {
    flex-direction: column;
  }
  .news-login .card > img {
    width: 100%;
    max-width: 100%;
    border-radius: 30px 30px 0 0;
    aspect-ratio: 16/7;
  }
  .news-login .col.fast-login {
    margin: 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  footer,
  .header,
  .news-login,
  .navbar-expand-lg,
  .accessibility-features {
    padding: 0 10px 0 10px;
  }
  footer > div {
    padding: 1%;
  }
}/*# sourceMappingURL=stylesheet.css.map */