@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$ba-first-color: #F2F2F2;
$ba-second-color: #1A1818;
$ba-third-color: #387178;
$ba-fourth-color: #D0D0D0;
$ba-fifth-color: #6C6666;
$ba-sixth-color: #2D3C3B;
$ba-seventh-color: #B54E3D;
$ba-eigth-color: #EADED5;
$padding-desktop: 0 60px 0 60px;
$padding-responsive: 0 10px 0 10px;



* {
    font-family: 'Poppins', sans-serif;
    transition: 0s;
}

body {
    background: $ba-first-color;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

//*NAVBAR*// 

nav {
    border-bottom: solid 5px $ba-fourth-color;

    .navbar-nav {
        margin-left: 30px;
        flex-wrap: wrap;

        .nav-item {
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            width: auto;
            border: 2px solid $ba-second-color;
            border-radius: 10px;
            padding: 5px 25px 5px 25px;
            margin: 15px;
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            text-transform: lowercase;
            color: $ba-second-color;
        }

        .nav-item:hover {
            background-color: $ba-second-color;
            color: $ba-first-color;
        }
    }
}

.navbar-expand-lg {
    padding: 20px 60px 20px 60px;
}

//*ACCESSIBILITY FEATURES*// 

.accessibility-features {
    width: 100%;
    padding: $padding-desktop;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;

        span {
            color: $ba-seventh-color;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    >div {
        margin-left: auto;

        .btn {
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin: 3px;
            background-color: $ba-third-color;
            color: $ba-first-color;
            transition: 0.1s ease-in-out;

            img {
                width: 30px;
                margin-top: -2px;
                filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
            }
        }

        .btn:focus,
        .btn:hover {
            background-color: $ba-sixth-color;
            color: $ba-first-color
        }
    }
}

//*FOOTER*// 

footer {
    width: 100%;
    padding: $padding-desktop;

    >div {
        background: linear-gradient(104.31deg, $ba-third-color 57.43%, #2D3C3B 95.2%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        padding: 3%;
        margin: auto;
        margin-top: 50px;
        position: relative;

        .container {
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            img {
                filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
                height: 100px;
                margin: 20px;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: $ba-first-color;
                    padding: 10px;
                    display: inline-block;
                }

                a:hover {
                    color: $ba-first-color;
                    text-decoration: underline;
                }
            }
        }

        p {
            font-size: 1rem;
            color: $ba-first-color;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 20px;
        }
    }
}


//*HEADER*// 

.header {
    width: 100%;
    padding: $padding-desktop;

    .bartdeaux-header {
        background: linear-gradient(104.31deg, $ba-third-color 57.43%, #2D3C3B 95.2%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        padding: 10%;
        margin: auto;
        margin-top: 50px;

        h1 {
            position: relative;
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 110px;
            letter-spacing: -0.065em;
            color: $ba-first-color;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 36px;
            color: $ba-first-color;
        }
    }
}

.backdrop-cookie {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(60, 60, 60, 0.56);
    top: 0;
    z-index: 998;
    display: none;
    justify-content: center;
    align-items: center;
}

.cookie-popup {
    width: 50%;
    height: auto;
    display: none;
    position: absolute;
    z-index: 999;
    background: $ba-first-color;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;

    span {
        color: $ba-seventh-color;
        font-weight: bold;
    }

    a {
        color: $ba-third-color;
    }

    >div {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        button {
            margin: 5px;
        }
    }
}

//*LAST ARTICLES AND FAST-LOGIN*// 

.news-login {
    width: 100%;
    padding: $padding-desktop;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;

        .row {
            flex-wrap: wrap-reverse;
            justify-content: center;
        }
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 2.1rem;
        color: $ba-second-color;
        text-transform: uppercase;
    }

    .card {
        flex-direction: row;
        margin-top: 20px;
        max-width: 895px;
        filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
        border: none;
        background: $ba-first-color;
        border-radius: 30px;

        >img {
            width: 250px;
            object-fit: cover;
            border-radius: 30px 0 0 30px;
            aspect-ratio: 1;
        }

        .card-body {
            margin-bottom: 40px;

            h6 {
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                color: $ba-fifth-color;
            }

            .btn {
                background: $ba-third-color;
                font-style: normal;
                font-weight: 600;
                font-size: 1rem;
                color: $ba-first-color;
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 20px;
                margin-top: 16.25rem;
                transition: 0.1s ease-in-out;


                img {
                    filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
                    height: 25px;
                }
            }

            .btn:hover {
                background: $ba-sixth-color;
            }

        }
    }

    .fast-login {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        >div {
            padding: 10px;
            box-sizing: border-box;

            a {
                text-decoration: none;
            }

            button {
                box-sizing: border-box;
                display: flex;
                align-items: flex-start;
                width: max-content;
                border: 2px solid $ba-second-color;
                border-radius: 10px;
                padding: 5px 25px 5px 25px;
                font-style: normal;
                font-weight: 500;
                font-size: 1rem;
                text-transform: lowercase;
                color: $ba-second-color;
                transition: 0.1s ease-in-out;
                margin: auto;
            }

            button:hover {
                background-color: $ba-second-color;
                color: $ba-first-color;
            }

            h3 {
                font-weight: 500;
                font-size: 1.5rem;
                text-align: center;
            }

            h3:last-of-type {
                color: $ba-seventh-color;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                label {
                    color: $ba-fifth-color;
                }

                input {
                    border: none;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                }

                .btn {
                    margin-top: 20px;
                }
            }
        }
    }

    .latest-articles{
        border-left:solid 2px $ba-second-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom:50px;
        
        h2{
            color:$ba-seventh-color;
            font-size: 1.5rem;
            text-transform: none;
        }
        a{
            display: inline-block;
            padding:5px;
            text-decoration: none;
            color:$ba-second-color;
        }

        a:hover{
            text-decoration: underline;
            color:$ba-seventh-color;
        }
    }
}

//*ALL ARTICLES PAGE*//

.all_articles {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        color: #1A1818;
    }


    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $padding-desktop;

        h2 {
            color: $ba-seventh-color;
            font-weight: 600;
        }

        form {
            .btn {
                background-color: $ba-eigth-color;
                margin: 5px;
                transition: 0.1s ease-in-out;

                a {
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1rem;
                    color: $ba-second-color
                }
            }

            .btn:target,
            .btn:focus,
            .btn:hover {
                background-color: $ba-seventh-color;

                a {
                    color: $ba-first-color;
                }
            }

        }
    }

    .container {
        margin-top: 10px;
        padding: 0;

        .row {
            flex-direction: row;

            .col-xl-3,
            .col-md-6,
            .col-sm-12 {
                .card {
                    border: none;
                    margin-top: 20px;
                    border-radius: 30px;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                    min-height: 600px;

                    h6 {
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        color: $ba-fifth-color;
                    }

                    img {
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        border-radius: 30px 30px 0 0;
                    }

                    p {
                        margin-bottom: 5.25rem;
                    }

                    .btn {
                        background: $ba-third-color;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1rem;
                        color: $ba-first-color;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 15px;
                        margin-bottom: 25px;
                        transition: 0.1s ease-in-out;


                        img {
                            filter: invert(100%) sepia(21%) saturate(13%) hue-rotate(188deg) brightness(113%) contrast(90%);
                            height: 25px;
                            aspect-ratio: 1/1;
                        }
                    }

                    .btn:hover {
                        background: $ba-sixth-color;
                    }
                }
            }
        }
    }
}

//*SHOW ONE ARTICLE*//

.show-article {

    .container {

        >.row {
            h3{
                margin-top:20px;
            }
            .content-article {
                margin-top: 20px;
                border-left: 2px solid #1A1818;

                >span {
                    color: $ba-seventh-color;
                    font-size: 1.5rem;
                    display: inline-block;
                    position: relative;
                }

                h1 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2rem;
                }

                h6 {
                    color: $ba-fifth-color;
                }

                .libChapoArt {
                    font-weight: 500;
                }

                img {
                    aspect-ratio: 16/9;
                    width: 100%;
                    object-fit: cover;
                    height: 40vh;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 1.3rem;
                }
            }

            .like-section{
                display:flex;
                justify-content: center;
                .btn{
                    background:$ba-seventh-color;
                    color:$ba-first-color;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top:75px;

                    img{
                        filter: invert(100%) sepia(59%) saturate(511%) hue-rotate(190deg) brightness(116%) contrast(90%);
                    }
                }
                .btn:hover{
                    background:$ba-eigth-color;
                    color:$ba-second-color;
                    img{
                        filter: invert(6%) sepia(6%) saturate(634%) hue-rotate(314deg) brightness(101%) contrast(92%);
                    }
                }    
            }

            .comment-section {
                margin-top: 50px;

                textarea {
                    background-color: $ba-fourth-color;
                    height: auto;
                    padding: 20px;
                    border-radius: 30px;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1rem;
                }

                .btn {
                    background: $ba-third-color;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1rem;
                    color: $ba-first-color;
                    margin: 20px;
                    transition: 0.1s ease-in-out;
                }

                .btn:hover {
                    background: $ba-sixth-color;
                }

                .comment {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    span {
                        .pseudomemb {
                            font-style: italic;
                            color: $ba-seventh-color;
                            margin: 20px 0 5px 0;
                            display: inline-block;
                        }
                    }

                    .comment-body {
                        background-color: $ba-fourth-color;
                        height: auto;
                        padding: 20px;
                        border-radius: 30px;
                        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }
}

//*LOGIN REGISTER PAGE*//

.login {

    .container {
        .row {
            justify-content: center;

            .col-md-4 {
                margin: 30px;

                h2{
                    text-align:center;
                }

                input {
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    border: none;
                }

                form{
                    padding:30px;
                    box-sizing: border-box;
                    border-radius: 25px;
                    display: grid;

                    button{
                        border-radius: 10px;
                        background-color: $ba-first-color;
                        box-shadow: none;
                        border:none;
                        padding:10px;
                        margin:auto;
                        margin-top:30px;
                        width:max-content;
                        transition:0.1s ease-in-out;
                        border:2px solid $ba-second-color
                    }

                    button:hover{
                        background-color: $ba-second-color;
                        color:$ba-first-color
                    }

                    label{
                        margin-top:20px;
                    }
                }
            }

            .col-md-4:nth-child(1){
                h2{
                    color:$ba-first-color
                }
                form{
                    background:$ba-third-color;
                                        
                    label{
                        color:$ba-first-color;
                        margin-top:20px;
                    }

                    button{
                        border:none;
                    }
                }
            }
        }
    }

}

//*RESPONSIVE*// 
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .news-login {
        width: 100%;
        padding: 0 10px 0 10px;
        margin-top: 50px;
        justify-content: center;
        align-items: center;

        .container {

            .row {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
        }

        h2 {
            font-size: 2.1rem;
        }

        .card {
            flex-direction: column;

            >img {
                width: 100%;
                max-width: 100%;
                border-radius: 30px 30px 0 0;
                aspect-ratio: 16/7;
            }
        }

        .col.fast-login {
            margin: 0;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }

    footer,
    .header,
    .news-login,
    .navbar-expand-lg,
    .accessibility-features {
        padding: $padding-responsive;
    }

    footer {
        >div {
            padding: 1%;
        }
    }
}

@media (max-width:600px) {
    .show-article {

        .container {

            .row {
                .content-article {
                    border-left: 0px;
                }
            }
        }
    }
}